<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/assets/css/navbar_style.css">
    <title>Document</title>
</head>
<body>
  <nav>
    <a href="#" class="nav_icon" aria-label="page d'accueil" aria-current="page"><img src="../../../public/assets/images/logo.png" alt="logo wildform"></a>

    <div class="main_navlinks">
      <button class="hamburger" type="button" aria-label="bouton burger" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navlinks_container">
      <a href="#">Créer un formulaire</a>
      <a href="#">Modèles</a>
      <a href="#">Assistance</a>
    </div>

    <div class="nav_authentication">
      <a href="#" class="sign_user" aria-label="Page d'enregistrement"><img src="../../../public/assets/images/utilisateur.png" alt="icone utilisateur"></a>
      <div class="sign_btns">
        <button type="button">Se connecter</button>
        <button type="button">S'inscrire</button>
      </div>
    </div>
  </nav>
  <script src="../../../public/assets/js/script.js"></script>
</body>
</html>
