{% extends 'layout.html.twig' %}

{% block content %}
  Vous avez déjà répondu à ce questionnaire.

  <a href="/">Cliquez ici si votre navigateur ne vous redirige pas autiomatiquement</a>
{% endblock %}
