{% extends 'layout.html.twig' %}

{% block content %}
  {% for error in errors %}
    <div>{{ error }}</div>
  {% endfor %}

  <a href="saved?id={{ formId }}">Cliquez ici pour revenir au formulaire</a>
{% endblock %}
