{% extends 'layout.html.twig' %}
{% block content %}
<main>
<h1>Responses</h1>
  
               {{response.userId}} 
                {{response.label}} 
                {{response.value}} 
    
				

 
                       
            

    </main> 

{% endblock %}