{% extends 'layout.html.twig' %}
{% block content %}
<main>
<h1 class="responses_title">Réponses</h1>
 <h2 class="form_title"> Titre du formulaire: {{formTitle.name}}</h2>
<div class="connection_box">

<table>
    <tr>
        <th>Participant</th><th>Question</th><th>Réponse</th>
    </tr>
    {% for response in responses %} 
    <tr>
        <td>{{response.user_id}}</td><td>{{response.label}}</td><td>{{response.value}}</td>
    <tr>
      {% endfor %} 
</table>

</div>

    
				

 
                       
            

    </main> 

{% endblock %}