h1 {
    text-align: center;
    margin-bottom: 2rem;
}

form {
    margin-left: 50px;
    margin-right: 50px;
}
body {
    background-color: white;
}
text,
radio,
checkbox,
range {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}
.range p {
    padding-bottom: 10px;
}
.checkbox,
.radio,
.range,
.text {
    text-align: left; /* Ajoutez cette ligne pour aligner les éléments à gauche */
    padding-bottom: 2rem;
}
input[type="range"] {
    margin: 5px;
}
.radio {
    align-items: flex-start;
}

/* .cta {
    width: 20%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.cta {
    margin-bottom: 15px;
}
/* @media screen and (width > 600px) {
    .cta {
        
    }
} */

.text {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.text label input {
    margin: 0;
}

.text > input {
    height: 3rem;
    margin: 0;
}

.text > label {
}
