* {
    box-sizing: border-box;
    margin: auto;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #f8f8f8;
    --brand-color: #f7146b;
    --text-color: #343434;
    --tertiary-color: #d8d8d8;
    --size-navbar: 72px;
    --size-footer: 50px;
    --padding_top-main: 90px;
}
body {
    color: var(--text-color);
    font-family: Verdana, sans-serif;
}

.footer {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

.footer img {
    height: 3rem;
}

.button {
    margin-top: 1.5rem;
    background-color: var(--brand-color);
    color: var(--primary-color);
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

ul {
    list-style: none;
}
main {
    /* padding-top: 90px; */
    margin: auto;
    min-height: calc(100vh - calc(var(--size-footer) + var(--size-navbar)));
    /* padding-bottom: 1rem; */
}
main.index {
    text-align: center;
}
main > h1 {
    padding-top: 7rem;
    font-size: 5rem;
    color: var(--brand-color);
}

.login_button {
    text-align: center;
}

@media screen and (min-width: 650px) {
    .titreh1 {
        padding-top: 7rem;
        font-size: 6rem; /* en dessous de 500 px le titre sort de l'ecran */
        color: var(--brand-color);
    }
    .titreh2 {
        font-size: 2rem;
        color: var(--text-color);
        margin-bottom: 0.5rem;;
    }
}

