.example-form {
    position: relative;
}
iframe {
    width: 300px;
    height: 200px;
}
.example-form .embed-link {
    background-color: red;
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
    opacity: 0;
}
.all-forms {
    display: flex;
    flex-direction: column;
}
@media screen and (width > 600px) {
    .all-forms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
main > h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
article > h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}
article {
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    padding: 1rem;
}
