* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --primary-color: #FFFFFF ;
    --secondary-color: #F8F8F8;
    --brand-color: #F7146B ;
    --text-color: #343434 ;
    --tertiary-color: #D8D8D8;
} 

body {
    color: var(--text-color);
    font-family: Verdana, sans-serif;
}

.index {
    padding-top: 90px;
}

.footer {
    /* height: 3rem; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    /* box-shadow: inset 0px 0px 0px 1px var(--tertiary-color); */
}

.footer img {
    height: 3rem;
    /* height: 47px;
    margin: auto 0; */
}
