{% extends 'layout.html.twig' %}
{% block content %}


    <h1 class="connection_title">Se connecter à WildForm</h1>
    <div class="errors">
    <ul>
    {% for error in errors %}
       <li> {{ error }}</li>
    {% endfor %}
    </ul>
    </div>

    <div class="connection_box">
    <form method="post" form action="">
    <input type="email" class="connection_input" id="email" name="email" placeholder="Email">
    <input type="password" class="connection_input" id="password" name="password" placeholder="Mot de passe">
    </div>
    <div>
    <button class="button">Se connecter</button>
    </div>
    </form>
    </div>
    <div class="connection_link">
    <a href="register">S'inscrire sur WildForm</a>
    </div>
    {% include 'item/footer.html.twig' %}
    
{% endblock %}