{% block navbar %}
<nav>
    <a href="#" class="nav_icon" aria-label="page d'accueil" aria-current="page"><img src="/assets/images/logo.png" alt="logo wildform"></a>

    <div class="main_navlinks">
      <button class="hamburger" type="button" aria-label="bouton burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navlinks_container">
      <a href="#">Créer un formulaire</a>
      <a href="#">Modèles</a>
      <a href="#">Assistance</a>
    </div>

    <div class="nav_authentication">
    
      <a href="#" class="sign_user" aria-label="Page d'enregistrement"><img src="/assets/images/utilisateur.png" alt="icone utilisateur"></a>
      <div class="sign_btns">
        <button type="button">Se connecter</button>
        <button type="button">S'inscrire</button>
      </div>
    </div>
</nav>
{% endblock %}