<div class="formulaire_design">
  <form action="saved?id={{formName.id}}" method="post">
    <div class="form_color" id="backgroundDiv">
      <label for="background">Choisissez votre couleur de fond</label>
      <input type="color" name="background" id="background">
    </div>

    <div class="form_color" id="textColorDiv">
      <label for="police_color">Choisissez votre couleur de police</label>
      <input type="color" name="police_color" id="police_color">
    </div>

    <div class="form_color" id="fontSizeDiv">
      <label for="police_size">Choisissez la taille de votre police</label>
      <input type="range" id="police_size" name="police_size" min="16" max="44" value="16" step="2">
      <span id="selected_size">16</span>
    </div>

    <div class="form_color" id="fontStyleDiv">
      <label for="police_style">Choisissez le style de police</label>
      <select name="police_style" id="police_style">
                    <option value="Arial" class="arial"> Arial </option>
                    <option value="Brush Script MT" class="brush"> Brush Script MT </option>
                    <option value="Comic Sans" class="comic"> Comic Sans </option>
                    <option value="Baskerville" class="baskerville"> Baskerville </option>
                    <option value="Garamond" class="garamond"> Garamond </option>
                    <option value="Georgia" class="georgia"> Georgia </option>
                    <option value="Helvetica" class="helvetica"> Helvetica </option>
                    <option value="Impact" class="impact"> Impact </option>
                    <option value="Palatino" class="palatino"> Palatino </option>
                    <option value="Tahoma" class="tahoma"> Tahoma </option>
                    <option value="Times New Roman" class="times"> Times New Roman </option>
                    <option value="Trebuchet" class="trebuchet"> Trebuchet</option>
                    <option value="Verdana" class="verdana"> Verdana </option>
                </select>
            </div>
            <div>
              <input type="hidden" name="form_id" value="{{ formName.id }}">
              <button type="submit">Styliser</button>
            </div>
        </form>
    </div>